.slide
	&:nth-child(1) &-in
		background-color: #FFCCCC
	&:nth-child(2) &-in
		background-color: #CCFFCC
	&:nth-child(3) &-in
		background-color: #CCCCFF
	&:nth-child(4) &-in
		background-color: #FFCCFF

	&-in
		+fixed(0 0 null)
		min-height: 100vh
		padding: 1em
		background-color: #FFFFFF
		opacity: 0
		transition: opacity .5s


	&.is-active &
		&-in
			z-index: 1
			opacity: 1

	&.is-aboveViewport &
		&-in
			top: auto
			bottom: 0

	&.is-scrolling &
		&-in
			position: relative
