extends layouts/default

append vars
	- var page = 'index'
	- var description = manifest.description

block content

	.slides
		section.slide#section-1
			.slide-in
				h1 1
				h1.appName= manifest.short_name
				p= manifest.description
				ul
					li
						a(href='#section-1') Section 1
					li
						a(href='#section-2') Section 2
					li
						a(href='#section-3') Section 3
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-10') Section 10
					li
						a(href='#section-9') Section 9
					li
						a(href='#section-8') Section 8
					li
						a(href='#section-7') Section 7
					li
						a(href='#section-6') Section 6
					li
						a(href='#section-5') Section 5
					li
						a(href='#section-4') Section 4
					li
						a(href='#section-3') Section 3
					li
						a(href='#section-2') Section 2
					li
						a(href='#section-1') Section 1
		section.slide#section-2
			.slide-in
				h1 2
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				p tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				p consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				p cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				p proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		section.slide#section-3
			.slide-in
				h1 3
				h1 XXX
				include parts/examples/sampleContent
		section.slide#section-4
			.slide-in
				h1 4
				include parts/examples

	script.
		initComponents.push({
			name: 'slides',
			place: '.slides',
		})
